h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 240201048-01.] <br>Gestionar diferentes fuentes de información según requerimientos de las actividades de enseñanza-aprendizaje






