h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body
                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Curaduría de contenidos digitales', 'main.html#page/tema-1/')
                    +navTemaItem('2', 'Organización y almacenamiento de la información', 'main.html#page/tema-2/')                  