.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Escuela técnica Superior de ingeniería informática (2019): Estudios sobre la reputación online
                    td Monografia digital
                    td 
                        a(href="media/documentos/anexo2_reputacion_online.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver
                tr
                    td Fundación telefónica (2013). Identidad Digital: El nuevo usuario en el mundo digital
                    td Monografía digital
                    td 
                        a(href="media/documentos/anexo1_identidad_digital.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver