.container

    #tema-1.header-ecored
        h1 1. Curaduría de contenidos digitales

    .card.my-4

        .card-body

            #tema-1-1.subtitulo-guion.subtitulo-guion.my-3
                h2 1.1 ¿A qué hace referencia la curación de un contenido?

            p.mt-4 Quién no se ha sentido alguna vez sobrecogido o agobiado ante la avalancha de información que nos llega a diario a través de los múltiples canales de comunicación como páginas web, blogs, redes sociales, televisión, prensa escrita y hablada, etc. La tasa de producción de contenidos que se genera cada minuto en internet supera con creces la capacidad de cualquier ser humano para gestionarla adecuadamente.  Todos sucumbimos ante esta infoxicación (Cornella, 2002) y los instructores no somos la excepción. 


            p.text-center.my-5
                img.img-fluid(src="assets/images/pages/tema-1/curacion-contenido-banner.svg")

            p.mt-4 Si bien, antes hemos mencionado la curación de contenidos como una herramienta, esta puede enfocarse como estrategia, por la profundidad en el uso que le demos; en este caso, nos estaríamos refiriendo al proceso que consiste en buscar, recopilar, filtrar y seleccionar la información, mediación, herramienta web, aplicación, entre otros, más pertinente para nuestros recursos educativos de todo lo que encontramos en internet. 

            p.mt-4 En otras palabras, el proceso para seleccionar aquellos contenidos o recursos que aportan valor para nuestra actividad educativa de aula se puede denominar curación de contenidos.


    .card.my-4

        .card-body
            #tema-1-2.subtitulo-guion.subtitulo-guion.my-3
                h2 1.2 La curación de contenidos en la era digital

            p Las prácticas más comunes ahora de compartir información han multiplicado el número de publicaciones en la red, a pesar de ello las personas evitan tener que leer montañas de información irrelevantes; es por esto, que la curación de contenidos cobra vital importancia en la era digital. Veamos algunas ventajas:

            .header-arrow.my-5
                h3.text-center Ventajas de la curación de contenidos

            .row.justify-content-center.my-5
                .col-12.col-md-10

                    .jumbotron.bg-color-verdeclaro

                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Como técnica resulta muy eficiente a la hora encontrar ideas para creación de contenidos.     

                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Ayuda a mejorar la calidad de los contenidos que desarrollamos.           

                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Permite aumentar el número de estudiantes que encuentran coincidencia con lo que enseñamos.

                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Disminuye la infoxicación.

                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Mejora la imagen y reputación online del instructor.

                               
                        p.my-5.text-center
                            img(src="assets/images/pages/tema-1/ventajas.svg").img-fluid


            p.my-5 Para poder hacer una curación de contenidos de manera apropiada, se sugieren los siguientes pasos:

            .row.justify-content-center.mt-5

                .col-10.col-md-8
                    .card-media.bg-brand-color-dark
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-1/icon-1.svg").img-fluid
                            .card__copy 
                                p #[strong Recopilar:] una vez identificada la necesidad de formación de nuestros aprendices, determinamos cuáles serían los contenidos o mediaciones de utilidad, “cuando sabemos lo que queremos encontrar, es más fácil identificar esa información” (Claudio, 2020); para ello, podemos utilizar los buscadores, redes sociales, páginas web o agregadores de contenido. Esta información seleccionada la agrupamos en un repositorio que la contendrá y desde el cual continuaremos la curación.
                                

                .col-10.col-md-8
                    .card-media.bg-brand-color-dark
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-1/icon-2.svg").img-fluid
                            .card__copy 
                                p #[strong Filtrar:] después de seleccionar los contenidos es necesario leer muy bien lo que nos dicen o las características que tienen, esto permitirá quedarnos con aquellos que nos interesan y que serán de utilidad para nuestra labor.

                .col-10.col-md-8
                    .card-media.bg-brand-color-dark
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-1/icon-3.svg").img-fluid
                            .card__copy 
                                p #[strong Organizar:] filtrados los contenidos, es necesario categorizarlos, identificarlos, organizarlos y guardarlos con sus fuentes en un sistema de repositorio propio.


                .col-10.col-md-8
                    .card-media.bg-brand-color-dark
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-1/icon-4.svg").img-fluid
                            .card__copy 
                                p #[strong Contextualizar:] contextualizar o reinventar los contenidos, es uno de los pasos más importantes, ya que con lo seleccionado podemos crear contenidos novedosos y con un toque particular; por ejemplo, se puede pensar en títulos nuevos, nuevas opciones de uso de herramientas, una estructura diferente, etc.

                .col-10.col-md-8
                    .card-media.bg-brand-color-dark
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-1/icon-5.svg").img-fluid
                            .card__copy 
                                p #[strong Almacenar:]  las herramientas de almacenamiento como repositorios u otros que cumplen la misma función como redes sociales, web blog, páginas web, agregadores de noticias, etc., son las que permiten contener de manera organizada la nueva información, recursos o proyectos que se han construido con los pasos anteriormente descritos; de igual manera, podemos compartirlos a través de estos.

                .col-10.col-md-8
                    .card-media.bg-brand-color-dark
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-1/icon-6.svg").img-fluid
                            .card__copy 
                                p #[strong Compartir:]  ahora que tenemos el contenido deseado, podemos utilizarlo en la creación de los recursos educativos, si lo que tenemos son las herramientas web deseadas, podemos integrarlas a los recursos educativos o proyectos que desarrollemos. 

                .col-10.col-md-8
                    .card-media.bg-brand-color-dark
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-1/icon-7.svg").img-fluid
                            .card__copy 
                                p #[strong Retroalimentar: ]  una vez publicados nuestros nuevos recursos o contenidos en la plataforma de curación o en los repositorios elegidos, se hace necesario poder recopilar sugerencias y observaciones sobre estos, ya que esta información dará la posibilidad de actualizar, mejorar o fortalecer lo construido. 


    .card.my-4

        .card-body

            #tema-1-3.subtitulo-guion.subtitulo-guion-.my-3
                h2 1.3 Herramientas para la curación de contenidos

            p.mt-4 El escenario educativo está siendo completamente transformado por las actividades de curación de contenidos y, a la vez, estas actividades por las herramientas web que están surgiendo, hoy docentes, padres y aprendices deben saber encontrar, probar y evaluar nuevas herramientas y recursos de manera pública, colaborativa y distribuida (EdShelf. 2016).


            article.m-5.py-3.px-4.shadow-sm(style="background: #f4f4f4")
                .row.align-items-center
                    .col-12.col-md-2
                        h3 Búsqueda:
                    .col
                        .d-flex.flex-wrap
                            .logo.m-3
                                img(src="assets/images/pages/tema-1/google.svg").img-fluid

                            .logo.m-3
                                img(src="assets/images/pages/tema-1/yahoo.svg").img-fluid

                            .logo.m-3
                                img(src="assets/images/pages/tema-1/bing.svg").img-fluid


            article.m-5.py-3.px-4.shadow-sm(style="background: #f4f4f4")
                .row.align-items-center
                    .col-12.col-md-2
                        h3 Selección:
                    .col
                        .d-flex.flex-wrap
                            .logo.m-3
                                img(src="assets/images/pages/tema-1/seleccion.svg").img-fluid

            article.m-5.py-3.px-4.shadow-sm(style="background: #f4f4f4")
                .row.align-items-center
                    .col-12.col-md-2
                        h3 Organización y selección:
                    .col
                        .d-flex.flex-wrap
                            .logo.m-3
                                img(src="assets/images/pages/tema-1/gdrive.svg").img-fluid

                            .logo.m-3
                                img(src="assets/images/pages/tema-1/diigo.svg").img-fluid

                            .logo.m-3
                                img(src="assets/images/pages/tema-1/scoop.svg").img-fluid

            article.m-5.py-3.px-4.shadow-sm(style="background: #f4f4f4")
                .row.align-items-center
                    .col-12.col-md-2
                        h3 Creación:
                    .col
                        .d-flex.flex-wrap
                            .logo.m-3
                                img(src="assets/images/pages/tema-1/potatoes.svg").img-fluid

                            .logo.m-3
                                img(src="assets/images/pages/tema-1/jclic.svg").img-fluid

                            .logo.m-3
                                img(src="assets/images/pages/tema-1/lim.svg").img-fluid

            article.m-5.py-3.px-4.shadow-sm(style="background: #f4f4f4")
                .row.align-items-center
                    .col-12.col-md-2
                        h3 Distribución del contenido:
                    .col
                        .d-flex.flex-wrap
                            .logo.m-3
                                img(src="assets/images/pages/tema-1/facebook.svg").img-fluid

                            .logo.m-3
                                img(src="assets/images/pages/tema-1/twitter.svg").img-fluid

                            .logo.m-3
                                img(src="assets/images/pages/tema-1/youtube.svg").img-fluid                                

                            .logo.m-3
                                img(src="assets/images/pages/tema-1/piktochart.svg").img-fluid  

                            .logo.m-3
                                img(src="assets/images/pages/tema-1/evernote.svg").img-fluid  