.container

    .header-ecored
        h1 2.	Organización y almacenamiento de la información 


    .card.my-4
        .card-body

            .row.justify-content-center.my-5
                .col-12.col-md-6
                    img(src="assets/images/pages/tema-2/file-storage.svg", alt="").img-fluid

            p Los dispositivos de almacenamiento de información, como lo indica su nombre, son componentes capaces de grabar datos en su memoria, facilitando así el transporte de información y su distribución a distintos equipos. Además de eso, los dispositivos de almacenamiento de información auxilian como herramientas de almacenamiento seguro de datos, también conocidos como backup (Marcas, 2019).

            p.mt-4 Aparece como una necesidad a partir del surgimiento y desarrollo de las Tecnologías de la Información y la Comunicación. Entre los que encontramos marcadores sociales, lectores RSS y servicios de alojamiento en línea, se caracterizan por mejorar los recursos tecnológicos, reducir costos, permitir el acceso a los documentos casi a tiempo real sin necesidad de cargas de alta duración, compartir recursos con independencia del dispositivo y la ubicación, optimizar su uso de manera automática y la seguridad es igual o mejor que otros sistemas convencionales (Contributors, 2020).

            .jumbotron.my-5(style="background: #C4E7FF")
                .row.align-items-center.my-5
                    .col-auto
                        p.text-center.p-4
                            img(src="assets/images/pages/tema-2/img3.svg", alt="").img-fluid            
                    .col
                        p En el ámbito educativo, llegan a ser de gran importancia los marcadores sociales puesto que hacen parte de la cotidianidad, siendo un medio que permite almacenar, etiquetar, organizar  y compartir, de una manera eficiente los sitios más relevantes o de interés del usuario, de esta manera se establecen como favoritos y quedan al alcance casi que inmediato, en este caso de los docentes (Cobo. R, y Pardo. H, 2007). 
                        p.mt-4 En esta misma línea, el almacenamiento en la nube, puede ser considerado como un aliado para el docente, siendo  programas o servicios que no están en el ordenador y se encuentran ubicados en Internet, por eso se dice que están en la Nube (Contributors, 2020). Es así, como esta herramienta, aporta un servicio de apoyo, en el momento que le permite guardar o  almacenar grandes cantidades de información, como archivos, documentos, medios digitales audio, video, entre otros, que están siempre a la mano, pues se puede acceder desde cualquier dispositivo que cuente con conectividad.


            p.mt-4 Es así, como en el siguiente apartado se amplía la información en cuanto al acercamiento conceptual y las diversas posibilidades que estos brindan al usuario.

    .card.my-5
        .card-body

            .subtitulo-guion#tema-2-1.my-3
                h2 2.1 Marcadores sociales


            p Los marcadores sociales son herramientas para almacenar, clasificar y compartir enlaces en Internet o en Intranet. También permiten establecer relaciones entre conceptos y clasificar con una finalidad, así como construir redes de trabajo. Este tipo de herramientas brinda la oportunidad de expresar puntos de vista propios sobre recursos de información a través de estructuras informales (Carlo s.f.)

            p.mt-4 Los marcadores sociales sirven para organizar archivos en línea y páginas favoritas (puedes organizar todos los enlaces, clasificando las etiquetas y carpetas), compartir con amigos (por correo y por redes sociales) y encontrar artículos interesantes. 

            .header-arrow.my-5
                h3.text-center Además, dentro de sus ventajas se encuentran las siguientes: 

            .row.justify-content-center.my-5
                .col-12.col-md-10

                    .jumbotron.bg-color-verdeclaro

                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Acceder de forma rápida desde cualquier ordenador y lugar a los almacenes donde se guardan los sitios seleccionados. 


                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Clasificación mediante etiquetas "tags" que permite llevar un seguimiento de los enlaces de forma más sencilla respecto a otros métodos tradicionales.

                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Gestión de una empresa de forma eficiente, no perdiendo enlaces en cualquier ordenador de algún trabajador.

                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Al compartir la información, las etiquetas pueden usarse de forma colectiva convirtiéndose en una fuente útil de información.

                        p.my-5.text-center
                            img(src="assets/images/pages/tema-2/ventajas.svg").img-fluid


            .header-arrow--rojo.my-5
                h3.text-center Pero, así mismo, se presentan algunas desventajas:


            .row.justify-content-center.my-5
                .col-12.col-md-10

                    .jumbotron.bg-color-rojoclaro

                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 No hay un sistema preestablecido de palabras clave o categorías.
                        
                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 No existe una estructura predefinida para las etiquetas, lo cual puede llevar a errores a la hora de deletrear.
                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Los tags pueden tener más de un significado y ofrecer resultados inexactos debido a confusiones entre sinónimos.
                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Los usuarios pueden crear tags demasiado personalizados con poco significado para otros.
                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 No existe una forma para estructurar los tags de forma jerárquica. 

                        p.my-5.text-center
                            img(src="assets/images/pages/tema-2/desventajas.svg").img-fluid


            p.my-5 Dentro de los marcadores más conocidos se encuentran:

            .jumbotron.my-5
                ul
                    li
                        span #[strong Del.icio.us:] es uno de los marcadores sociales más conocidos y utilizados. Permite compartir noticias, clasificarlas por tags, ver las personas que comparten esa misma noticia o enlace. 
                    li
                        span #[strong StumbleUpon:] marcador social de páginas en inglés, con clasificación temática y formato de vídeo, imágenes y noticias.  
                    li
                        span #[strong IndianPad:] uno de los marcadores más populares de la India. Las categorías más populares son la tecnología y las noticias. Los resultados se pueden votar, comentar y enviar por correo electrónico.


            p.mt-5 En educación, los profesores cuentan con la ayuda de los marcadores para su localización y clasificación a modo de biblioteca profesional, con el añadido del carácter social de la herramienta, que permite conocer qué otros recursos han escogido nuestros colegas de otras comunidades o países.

            p.mt-5 Además, los marcadores sociales pueden llevar a nuestros alumnos selecciones específicas de recursos, o pueden ser una herramienta de investigación y puesta en común de lo hallado. Las herramientas de marcación social están cada vez más integradas con otros servicios de la web 2.0 como redes sociales o lectores de flujos de RSS (Unknown, 2016).


            .subtitulo-guion--dark.my-5
                h2 Lectores RSS


            .row.align-items-center.my-5
                .col-auto
                    p.text-center.p-4
                        img(src="assets/images/pages/tema-2/rss.svg").img-fluid

                .col
                    p Los RSS (Really Simple Syndication, por sus siglas en inglés) comprenden servicios de notificación y lectura sobre sitios Web que son del agrado del usuario y que han sido actualizados, los cuales evitan tener que cubrir una ruta extensa para llegar al contenido. Así, un RSS es una forma estandarizada de distribución de información que se gestiona y almacena desde un solo lugar. Un servicio RSS puede darse de alta directamente desde el equipo de cómputo, desde un navegador Web o un programa de correo electrónico, o en línea (Carlo, s.f.). 

                    p.mt-4 Es un formato de datos que sirve para el envío de contenidos a quienes están registrados en un determinado sitio de internet. Esta estructura permite que la distribución del contenido se realice sin que sea necesario valerse de un navegador, ya que la acción se lleva a cabo a través de un software creado especialmente para leer esta clase de datos que se conoce como agregador. 


            p.mt-4 De todas formas, las versiones más recientes de los principales navegadores contemplan la necesidad de leer los contenidos de RSS sin necesidad de acudir a un software adicional.

            p.mt-4 El RSS está contemplado en el conjunto de formatos XML y ha sido ideado para aquellos espacios web que se actualizan de forma periódica y que permiten compartir datos y aprovecharlos en otros programas o páginas web. El formato RSS se ha masificado con el auge de los weblogs o blogs, donde suele compartirse información de diversas fuentes de modo integrado (Unknown, 2016). 

            .header-arrow.header-arrow--naranja.my-5
                h3.text-center Tiene como ventajas:

            .row.justify-content-center.my-5
                .col-12.col-md-10

                    .jumbotron.bg-color-rojoclaro

                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Actualización instantánea y permanente.
                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Acceso a las noticias o información de una determinada web sin tener que ir hacia ella desde el navegador. 
                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Seguimiento de aquellos sitios que visitamos asiduamente. 
                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 El RSS está libre de SPAM, porque no hay que dar la dirección de correo electrónico. 
                        .list.align-items-start
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                            .list__txt
                                p.mb-0 Recibir las fuentes o canales RSS de tus páginas web favoritas es totalmente gratuito. Tanto los contenidos como la mayoría de los programas (lectores RSS) que permiten leer las noticias RSS son gratuitos.

                
                        p.my-5.text-center
                            img(src="assets/images/pages/tema-2/img4.svg").img-fluid


            p.my-5 Cabe resaltar, que gracias a los agregadores y los lectores de feeds, un usuario puede recibir en el escritorio de su sistema operativo en su programa de correo electrónico o mediante otras aplicaciones web, resúmenes de todos los sitios que él ha seleccionado por considerarlos interesantes. De esta manera, no es necesario que recorra decenas de sitios para enterarse de las novedades (Menéndez, 2018).


            .header-arrow.header-arrow--naranja.my-5
                h3.text-center Dentro de los tipos de lectores RSS se encuentra:



            .row.justify-content-center.mt-6
                .col-12.col-md-8


                    .row.align-items-center
                        .col-auto
                            p.text-center
                                img(src="assets/images/pages/tema-2/icon-rss.svg").img-fluid(style="max-width:100px")

                        .col
                            .bg-color-naranjaclaro
                                p.p-5 #[strong Lectores RSS que se instalan directamente en el ordenador:] son programas que se instalan en cada ordenador. Cuando se tiene abierto el programa, este accede cada cierto tiempo a las páginas web suscritas para traer las actualizaciones directamente al ordenador de uno. Algunos de los programas más populares son: Feedreader, Newsmonster y RSS Reader. 


                    .row.align-items-center.mt-5
                        .col-auto
                            p.text-center
                                img(src="assets/images/pages/tema-2/icon-rss.svg").img-fluid(style="max-width:100px")

                        .col
                            .bg-color-naranjaclaro
                                p.p-5 #[strong Lectores RSS online:] los lectores RSS en línea cumplen la misma función que los programas que se instalan en el ordenador, aunque en este se hace todo a través de una página web. Para ello, es necesario darse de alta en la página web que ofrece ese servicio y dar de alta un perfil. A partir de ese momento, se puede acceder al lector web introduciendo el nombre de usuario y contraseña. Algunos de los programas en línea más populares y conocidos son: Netvibes o Google Reader. 

                    .row.align-items-center.mt-5
                        .col-auto
                            p.text-center
                                img(src="assets/images/pages/tema-2/icon-rss.svg").img-fluid(style="max-width:100px")

                        .col
                            .bg-color-naranjaclaro
                                p.p-5 #[strong Lectores RSS en tu navegador web o programa de correo electrónico:  ] también se pueden recibir las actualizaciones de las páginas web a través del navegador o del programa de correo electrónico. Algunos de los navegadores y clientes de correo más conocidos que permiten hacer esto son: Internet Explorer, Mozilla Firefox, Outlook Express o Mozilla Thunderbird (35Webs, 2011).  

    .card.my-5
        .card-body

            .subtitulo-guion#tema-2-2.my-3
                h2 2.2 Servicios de alojamiento en línea                     

            .row.justify-content-center.my-5
                .col-12.col-md-6
                    img(src="assets/images/pages/tema-2/hosting.svg").img-fluid

            p.mt-4 El hosting (hospedaje) es un servicio cuya función se encarga de proporcionar un espacio dentro de internet para alojar un sitio web y mantenerlo en línea. Es un espacio virtual dentro de uno o varios servidores que están instalados en un espacio físico muy especial, al que se le conoce como Data Center (centro de datos). Estos centros de datos están ubicados por todo el mundo, ya que mientras más cerca esté el data center al usuario final, más rápido será el internet. 

            p.mt-4 La elección del hosting debe estar sujeto a las necesidades del proyecto web, para lo cual es importante tener en cuenta: 

            .subtitulo-guion--dark.my-5
                h3.font-weight-bold Sistema operativo

            .row.justify-content-center.align-items-center.my-5
                .col-12.col-md-4
                    img(src="assets/images/pages/tema-2/linux.svg").img-fluid

                .col-12.col-md-4
                    img(src="assets/images/pages/tema-2/windows.svg").img-fluid

            p.mt-4 Se debe tener en cuenta que sistema operativo usará el servidor del hosting antes de contratar un servicio de alojamiento web. Los sistemas operativos dominantes en servidores web son: #[strong Linux] y #[strong Windows]. Ambos sistemas son robustos y cuentan con una gran comunidad de usuarios.

            p.mt-4
                ul.lista
                    li 
                        span #[strong Linux], es un sistema operativo libre y con  código fuente abierto, a ello se debe su gran popularidad cuando hablamos de servidores o entornos de programación. Cuando se desea contratar un servicio de alojamiento con este sistema operativo, realmente lo que vamos a encontrar para seleccionar es una distribución de linux, dentro de las más conocidas están:

                        ul.my-4
                            li Debian
                            li Ubuntu
                            li Fedora
                            li CentOS

                        .p.text-center.my-4                            
                            img(src="assets/images/pages/tema-2/digitalocean.png").img-fluid
                            br
                            span 
                                i Pantalla de selección de sistema operativo en el servicio de hosting de DigitalOcean


                    li 
                        span #[strong Windows], este sistema operativo fue desarrollado por la empresa Microsoft Corporation. La versión más reciente de Windows es Windows 10 para equipos de escritorio, Windows Server 2019 para servidores y Windows 10 Mobile para dispositivos móviles. En este caso para el uso de servidores web hablamos del paquete Windows Server. Un hosting con sistema operativo Windows Server está diseñado especialmente para proyectos que utilicen tecnología de Microsoft (ASP, ASP.NET, entre otros) o para proyectos que ameriten el uso de base de datos de Microsoft SQL Server o Access.

            .subtitulo-guion--dark.my-5
                h3.font-weight-bold Uso que se le da al hosting: 

            .row.justify-content-center.align-items-center.my-5
                .col-12.col-md-6
                    img(src="assets/images/pages/tema-2/usos-hosting.svg").img-fluid          

            p.my-4 Se utiliza para distintos proyectos web como son:               

            ul.lista.my-5
                li
                    span Hosting para página web
                li
                    span Hosting para correos corporativos 
                li
                    span Hosting streaming 
                li
                    span Hosting WordPress
                li
                    span Hosting para proyectos web con el CMS Joomla
                li
                    span Hosting para formación en línea con el uso de plataformas LMS como Moodle
                li
                    span Hosting para juegos 

            .header-arrow.my-5 
                h3.text-center Además, se debe tener en cuenta el tipo que se amolda a la necesidad, ya que cada uno cuenta con características específicas:

            .row.justify-content-center.mt-5

                .col-10.col-md-8
                    .card-media.bg-color-verdeclaro
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/hcompartido.svg").img-fluid
                            .card__copy 
                                p #[strong Hosting compartido:]  es un tipo de hosting que hospeda a varias páginas web en un solo servidor. Es ideal para proyectos que están iniciando ya que suelen ser más económicos que el resto de los servicios de alojamiento.
                                

                .col-10.col-md-8
                    .card-media.bg-color-verdeclaro
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/hcloud.svg").img-fluid
                            .card__copy 
                                p #[strong Cloud hosting:]   se considera una tecnología muy novedosa, por ser un hosting cuyo almacenaje es mediante la nube brindado la posibilidad de acceder a recursos ilimitados que son facilitados virtualmente por varias máquinas (nodos o servidores) ubicadas en diferentes partes de nuestro planeta.
                                

                .col-10.col-md-8
                    .card-media.bg-color-verdeclaro
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/hvps.svg").img-fluid
                            .card__copy 
                                p #[strong VPS:]  el hosting VPS es la elección preferida de los emprendedores cuyos proyectos web están teniendo éxito y necesitan más recursos. Un servidor web se divide en varios servidores separados uno de del otro mediante software (virtual). De manera que cada hosting VPS tiene RAM, núcleos de CPU y disco duro separados virtualmente de los otros servidores web, brindando mayor estabilidad a páginas web o aplicaciones que tienen muchas visitas al día.

                .col-10.col-md-8
                    .card-media.bg-color-verdeclaro
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/hdedicado.svg").img-fluid
                            .card__copy 
                                p #[strong Hosting dedicado:] el hosting dedicado es ideal para sitios web o aplicaciones muy grandes usados a menudo por grandes compañías o corporaciones que tienen sistemas de administración ERP, CRM o carritos de compra con muchos productos. La diferencia entre el hosting dedicado y el VPS es que el dedicado cuenta con mayor acceso al sistema operativo del servidor (Moreno, 2018).                          


            p.my-5 Además, se encuentra el almacenamiento en la nube que es un servicio que permite almacenar datos transfiriendose a través de Internet o de otra red a un sistema de almacenamiento externo que mantiene un tercero. Hay cientos de sistemas de almacenamiento en la nube diferentes que abarcan desde almacenamiento personal, que guarda o mantiene copias de seguridad de correo electrónico, fotos, vídeos y otros archivos personales de un usuario, hasta almacenamiento empresarial, que permite a las empresas utilizar almacenamiento en la nube como solución comercial de copia de seguridad remota donde la compañía puede transferir y almacenar de forma segura archivos de datos o compartirlos entre ubicaciones (Azure, s.f.).

            .header-arrow.my-5 
                h3.text-center Dentro de las plataformas usadas se encuentra: 


            .row.justify-content-center.my-5
                .col-12.col-md-10
                    .row.align-items-center.mt-5
                        .col-2
                            p.text-center
                                img(src="assets/images/pages/tema-2/gdrive.svg").img-fluid

                        .col                           
                            p.p-5 #[strong Google Drive:  ] es la herramienta que anteriormente se conocía como Google Docs. Tiene como novedad el servicio de almacenamiento de archivos en la nube y sincronización con otros dispositivos donde se tenga instalada la herramienta Google Drive, es decir, los recursos están disponibles no solo en el computador donde fueron creados o guardados, sino también en la web. Esta herramienta puede instalarse en un computador, en un dispositivo móvil o utilizarse desde un navegador. Algunas características son: proteger la información, acceder desde cualquier dispositivo, compartir archivos o carpetas, visualizar todo tipo de formatos, buscar rápidamente (Drive (s.f)


                    .row.align-items-center.mt-5
                        .col-2
                            p.text-center
                                img(src="assets/images/pages/tema-2/dropbox.svg").img-fluid

                        .col
                            p.p-5 #[strong Dropbox:  ] es una herramienta que permite sincronizar archivos a través de un directorio virtual o disco duro virtual en la red. Esto nos permite disponer de un disco duro o carpeta virtual de forma remota y accesible desde cualquier ordenador en el mundo. Es lo mismo que tener una memoria stick o Pen drive USB, pero alojada en internet de tal forma que nos permite tener toda la información que deseemos en la red y con ello siempre disponible desde cualquier PC en cualquier parte del mundo (Gil, 2011). 


                    .row.align-items-center.mt-5
                        .col-2
                            p.text-center
                                img(src="assets/images/pages/tema-2/onedrive.svg").img-fluid

                        .col
                            
                            p.p-5 #[strong OneDrive:  ] es un servicio de almacenamiento en la nube, mediante el cual podrás almacenar todo tipo de archivos. Pero la gran diferencia que tiene éste en comparación con otros servicios similares es su relación con Microsoft Office 365. Gracias a ello, junto a Onedrive se puede crear un documento y editarlo sin necesidad de guardarlo en una USB o enviarlo a una dirección de correo electrónico para su edición. Los programas que puedes utilizar para ello son los que contienen el paquete de Microsoft Office (Nube, s.f.)

                    .row.align-items-center.mt-5
                        .col-2
                            p.text-center
                                img(src="assets/images/pages/tema-2/box.svg").img-fluid

                        .col
                            
                            p.p-5 #[strong Box:  ] es una las herramientas virtuales que promueven y desarrollan el almacenamiento de información en la nube y han creado discos duros virtuales que pueden tener las mismas ventajas de uno real, pero en la web, entre ella la reproducción, vista, creación de archivos en la nube sin la necesidad de complementos o agentes externos (Salazar, 2013).

                    .row.align-items-center.mt-5
                        .col-2
                            p.text-center
                                img(src="assets/images/pages/tema-2/icloud.svg").img-fluid

                        .col
                            
                            p.p-5 #[strong iCloud:  ] presta servicio de almacenamiento en la nube con la Marca Apple, tuvo sus inicios en 2011; dentro sus principales características, permite guardar fotos, videos, documentos, música y datos de aplicaciones en el mismo lugar; esta herramienta de almacenamiento permite acceder a todos los archivos y datos desde dispositivo iOS y Mac, como también PC con Windows desde la aplicación en línea, y mantener esos archivos y carpetas actualizados cualquiera de los dispositivos en los que se tenga acceso. (Tillman, 2020).

                    .row.align-items-center.mt-5
                        .col-2
                            p.text-center
                                img(src="assets/images/pages/tema-2/mega.svg").img-fluid

                        .col
                            
                            p.p-5 #[strong Mega:  ] es una de las alternativas más conocidas y que cuenta con más almacenamiento disponible de forma totalmente gratuita. Permite alojar hasta 50 GB sin tener que pagar nada. Ofrece además descargas múltiples y una gestión del contenido bastante completa. Esta es una de las opciones más utilizadas por los usuarios. Sin duda es muy interesante para alojar copias de seguridad pesadas y tener todos los archivos siempre disponibles desde cualquier lugar (Zone, s.f).                        
                            


            .jumbotron.my-5
                p Estimado aprendiz, para ampliar la información de este tema puede acceder a los siguientes enlaces:
                p.mt-4 #[strong Google DRIVE:] <a href="https://www.google.com/intl/es_ALL/drive/" target="_blank">https://www.google.com/intl/es_ALL/drive/</a>
                p.mt-4 #[strong Dropbox:] <a href="https://www.dropbox.com/es/features/cloud-storage" target="_blank">https://www.dropbox.com/es/features/cloud-storage</a>
                p.mt-4 #[strong OneDrive:] <a href="https://www.microsoft.com/es-co/microsoft-365/onedrive/online-cloud-storage" target="_blank">https://www.microsoft.com/es-co/microsoft-365/onedrive/online-cloud-storage</a>
                p.mt-4 #[strong Box:] <a href="https://www.apple.com/co/icloud/" target="_blank">https://www.apple.com/co/icloud/</a>
                p.mt-4 #[strong Mega:] <a href="https://mega.nz/" target="_blank">https://mega.nz/</a>
